#!/usr/bin/bash
(while : ; do sleep 60; done)&

exec /lib/systemd/systemd --log-target=console --log-color --system --default-standard-output=journal+console --default-standard-error=journal+console

