[Unit]
Description=journal dump to stderr {{.Appl}} Server

[Service]
Type=simple
ExecStart=/usr/bin/journalctl -f -u {{.Appl}}
Restart=on-failure

[Install]
WantedBy=multi-user.target

# local variables:
# mode: conf
# end:
